* {
    box-sizing: border-box;
}

.scoreboard {
    text-transform: uppercase;
    font-size: 2em;
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;
}

.active {
    cursor: crosshair;
    background-color: lightblue;
    border: 3px solid yellow;
}

.btn {
    display: block;
    padding: 10px;
    margin: 10px auto;
    width: 25%;
    font-size: 2em;
}

.gridContainer {
    display: grid;
    border: 3px dotted black;
}

.grid-item {
    color: black;
    padding: 15px;
    border: 2px solid #ddd;
    text-align: center;
    font-size: 0.9em;
}